.tier {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.list {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.img {
  padding: 0 2.5px !important;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 199px;

  background-color: black;
  color: white;
  font-size: 1.4rem;
  margin-left: 10px;
}
